@media screen and (max-width: 600px) {
    table th{
      font-size: 06px;
    }
  }
.errspan {
    float: right;
    margin-left: -35px;
    margin-top: 0px;
    position: relative;
    z-index: 2;
    color: black;
}
.star
{
    color: sandybrown;
}

.star:hover
{
    color: green;
    cursor: pointer;
}
.new
{
    padding: 1em;
    font-weight: lighter;
}
table td {
    text-align: center;
    }
table {
        table-layout: fixed;
        word-wrap: break-word;
    }
  
