.user-list
{
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 1em;
    text-align: center;
}
@media screen and (min-width: 700px) {
    .user-list
    {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 1em;
        text-align: center;
    }
  }
.flag
{
    max-height: 10em;
    max-width: 10em;
}
.user-container p
{
    align-items: center;
    justify-content: center;
    padding-left: 1em;
}